<ion-header>
  <ion-toolbar>
   <ion-title class="title">Technology Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button"> <!-- Div for buttons so I can center in css-->
    <!-- Buttons for navigation -->
    <ion-button class ="button" color="tertiary" fill="outline" [routerLink]="['/home']">Home</ion-button>
    <ion-button color="tertiary" fill="outline" [routerLink]="['/tech-news']">Technology Headlines</ion-button>
    <ion-button color="tertiary" fill="outline" [routerLink]="['/search-news']">Search Headlines</ion-button>
    <ion-button color="tertiary" fill="outline" [routerLink]="['/storage']">Register</ion-button>
  </div>
  
  <div class="card"> <!-- Div for css on articles-->
    <ion-card class="card2" *ngFor = "let news of TechData"> <!-- Loops through articles and displays-->
      <ion-card-header (click)="webPage(news.url)"> <!-- used InAppBrowser to open  link-->
         <!-- items inside of card from api -->
        <img src="{{news.urlToImage}}">
        <ion-card-title class="title">{{news.title}}</ion-card-title>
        <ion-card-subtitle> {{news.description}}</ion-card-subtitle>        
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>