.title{
    text-align: center;
}

.button{
    margin-top: 1%;
    text-align: center;
  }
  
// formatting for card
.card{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
}
  
// hover for cards 
.card2:hover{  
    size: 20%;
    background-color: gray;
  }
  